<article class="posts__post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <a class="posts__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
    {% if post.image %}
      <figure class="posts__img">
        <img src="{{ post.image }}" alt="{{ post.title }}" data-aos="fade-in" itemprop="image"/>
      </figure>
    {% endif %}
    <div>
      <h2 class="posts__text"><strong itemprop="name">{{ post.title }}</strong></h2>
      <h6>
        {% assign m = post.date | date: "%-m" %}
        {{ post.date | date: "%-d" }}
        {% case m %}
        {% when '1' %}Января
        {% when '2' %}Февраля
        {% when '3' %}Марта
        {% when '4' %}Апреля
        {% when '5' %}Мая
        {% when '6' %}Июня
        {% when '7' %}Июля
        {% when '8' %}Августа
        {% when '9' %}Сентября
        {% when '10' %}Октября
        {% when '11' %}Ноября
        {% when '12' %}Декабря
        {% endcase %}
        {{ post.date | date: "%Y" }}
      </h6>
    </div>
  </a>
</article>
